<ng-container *ngTemplateOutlet="isEdit ? edit : create"></ng-container>

<ng-template #create>
  <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ title }}</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="onClose()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col">
          <label for="city-name" class="label">City name</label>
          <input
            type="text"
            id="city-name"
            name="city-name"
            class="form-control"
            formControlName="cityName"
          />
          <small class="text-danger" *ngIf="hasError(cityName)"
            >City name is required</small
          >
        </div>
      </div>
      <div class="form-row">
        <label for="file" class="label font-weight-bold">Add city image</label>
        <input
          formControlName="file"
          id="file"
          type="file"
          class="form-control"
          (change)="onFileChange($event)"
        />
        <small class="text-danger" *ngIf="hasError(file)"
          >City logo is required</small
        >
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-sm btn-default px-4 py-2"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="submit"
        class="btn btn-sm btn-primary px-4 py-2"
        [disabled]="!cityForm.valid"
      >
        {{ submitText }}
      </button>
    </div>
  </form>
</ng-template>

<ng-template #edit>
  <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ title }}</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="onClose()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col">
          <label for="city-name" class="label">City name</label>
          <input
            type="text"
            id="city-name"
            name="city-name"
            class="form-control"
            formControlName="cityName"
          />
          <small class="text-danger" *ngIf="hasError(uCityName)"
            >City name is required</small
          >
        </div>
      </div>
      <div class="form-row">
        <!-- Upload new -->
        <div class="col">
          <label for="cityLogo" class="label font-weight-bold">City logo</label>
          <input
            formControlName="file"
            id="cityLogo"
            name="cityLogo"
            type="file"
            class="form-control form-control-sm"
            (change)="onFileUpdateChange($event)"
          />
        </div>

        <!-- Current logo -->
        <div class="col" *ngIf="city?.cityLogo">
          <label for="cityLogo" class="label font-weight-bold"
            >Current city logo</label
          >
          <div class="input-group input-group-sm">
            <input
              type="text"
              class="form-control"
              placeholder="Current city logo"
              aria-label="Current city logo"
              readonly
              [value]="city.cityLogo | split: '/'"
            />
            <div class="input-group-append">
              <button
                class="btn btn-danger"
                type="button"
                (click)="onImageRemove(city)"
              >
                <span class="fa fa-trash mr-1"></span>
                <span>remove</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-sm btn-default px-4 py-2"
        (click)="onClose()"
      >
        Cancel
      </button>
      <button
        class="submit"
        class="btn btn-sm btn-primary px-4 py-2"
        [disabled]="!updateForm.valid"
      >
        {{ submitText }}
      </button>
    </div>
  </form>
</ng-template>

<spinner *ngIf="loader.isLoading"></spinner>
