<div class="card">
  <div class="card-body text-justify">
    Een schoolstraat is nieuw in de wegcode en laat toe om een deel van de
    openbare weg veiliger te maken door een deel van het verkeer te weren. Een
    schoolstraat wordt aangeduid met een verkeersbord C3 en een speciaal
    onderbord "schoolstraat". Uit ervaring blijkt dat meer ouders kiezen om te
    voet of met de fiets te komen in plaats van met de auto. De omgeving rond de
    schoolpoort wordt rustiger, aangenamer én bijgevolg veiliger en gezonder!
    Met dit dashboard kunnen lokale besturen, scholen, ouderverenigingen en
    burgers zelf bijdragen tot het meten van de effecten van de invoering van
    een schoolstraat door het verkeer in en nabij de schoolstraat zelf in beeld
    te brengen door zelf verkeer te meten via het project Telraam.
  </div>
</div>
