<div class="row justify-content-center align-items-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
    <div class="input-group input-group-sm">
      <input
        type="text"
        placeholder="Daterangepicker"
        class="form-control"
        bsDaterangepicker
        [(ngModel)]="range"
        [bsConfig]="bsConfig"
        (bsValueChange)="onValueChange($event)"
      />
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="far fa-calendar-alt"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
    <button class="btn btn-block btn-secondary" (click)="onPeriod()">
      {{ "preview.periodSelector.addPeriod" | translate }}
    </button>
  </div>
</div>
