<ng-template #itemTemplate let-item="item" let-index="index">
  <div class="d-flex justify-content-between align-items-center">
    <span class="font-weight-bold">{{ item.value.address }}</span>

    <button
      class="ml-3 btn btn-sm btn-outline-danger"
      (click)="onRemoveRoad(item.value)"
    >
      <span class="fa fa-trash-alt"></span>
    </button>
  </div>
</ng-template>

<!-- Available roads -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Selected roads</h4>
  </div>
  <div class="card-body">
    <bs-sortable
      [(ngModel)]="available"
      [itemTemplate]="itemTemplate"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="Available segments"
      placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper"
    ></bs-sortable>
  </div>
</div>

<!-- Target road -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{ "create.roads.target" | translate }}</h4>
  </div>
  <div class="card-body">
    <bs-sortable
      [(ngModel)]="target"
      [itemTemplate]="itemTemplate"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      [placeholderItem]="'create.roads.dragTarget' | translate"
      placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper"
      (onChange)="onTargetChange($event)"
    ></bs-sortable>
    <small class="text-danger" *ngIf="target?.length > 1"
      >Only the first road will be saved</small
    >
  </div>
</div>

<!-- Impact roads -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{ "create.roads.impact" | translate }}</h4>
  </div>
  <div class="card-body">
    <bs-sortable
      [(ngModel)]="impact"
      [itemTemplate]="itemTemplate"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      [placeholderItem]="'create.roads.dragImpact' | translate"
      placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper"
      (onChange)="onImpactChange($event)"
    ></bs-sortable>
  </div>
</div>
