@import "src/assets/variables";
.card {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  height: calc(100% - 1.5em);

  .card-header {
    padding-top: 2em;
    padding-bottom: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-group {
      .btn {
        font-size: 0.9em;
      }

      .btn-primary {
        background: darken($color: $primary, $amount: 20%);
      }
    }

    div:nth-child(3) {
      .btn {
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
