:host {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;

  table {
    margin-bottom: 0;
    thead {
      tr {
        th {
          position: relative;
          border-top: none;
          span.fa {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          &:last-of-type {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }
        }
      }
    }
  }
}
